<!DOCTYPE html>
<html>

<head>
    <title>Simulator web page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <style>
        * {
            margin: 0;
            padding: 0;
            border: 0;
        }

        *,
        *::before,
        *::after{
            box-sizing:border-box;
        }

        body {
            background-image: url("https://wallpapercave.com/wp/wp8300034.jpg");
            background-color: #cccccc;
        }

        .title {
            margin-top: 4rem;
            margin-left: 4rem;
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>

<body>
    <h1 class="title">{{.Title}}</h1>
</body>

</html>